---
interface Props {
    icon?: string;
}

const { icon } = Astro.props;
---

<a
    class="group/btn-gen bg-fg/0 backdrop-blur-md px-4 py-4 rounded-xl animate-slide-up-fade animate-delay-400
    hover:scale-110 transition-transform w-60 md:w-74 text-center
    shadow-lg dark:shadow-md shadow-gray-500/20 dark:shadow-gray-400/20
    inset-shadow-xs inset-shadow-white/40"
    href="https://www.linkedin.com/in/tonny-ortiz/"
    target="_blank"
    aria-label="Contact me"
    title="Contact me"
>
    <span
        class="font-normal uppercase tracking-wider font-sans text-sm md:text-lg text-font-secondary inline-flex flex-row items-center gap-2"
    >
        <span><slot /></span>
        {
            icon ? (
                <svg
                    width="26"
                    height="26"
                    class="group-hover/btn-gen:translate-x-2
                    transition-transform duration-300"
                >
                    <use xlink:href={icon} />
                </svg>
            ) : null
        }
    </span>
</a>
