---
interface Props {
    class?: string;
    // Puedes añadir más props aquí
    [key: string]: any; // Esto permite recibir cualquier otro atributo (id, data-*, etc)
}
const { class: className = "", ...rest } = Astro.props;
---

<div
    class:list={[
        `w-full
        bg-white/40 dark:bg-black/50
        backdrop-blur-md shadow-2xl
        border-t border-white/20 
        inset-shadow-t-xs inset-shadow-white/40 dark:inset-shadow-white/20
        dark:border-gray-600/40`,
        className,
    ]}
    {...rest}
    class=""
>
    <slot />
</div>
