---
interface Props {
    class?: string;
    // Puedes añadir más props aquí
    [key: string]: any; // Esto permite recibir cualquier otro atributo (id, data-*, etc)
}
const { class: className = "", ...rest } = Astro.props;
---

<div
    class:list={[
        `col-span-1 relative group overflow-hidden rounded-lg
        md:rounded-xl
        bg-white/40 dark:bg-black/50
        backdrop-blur-md shadow-2xl z-0
        inset-shadow-xs inset-shadow-white/40 dark:inset-shadow-white/20
        dark:border-r-2 dark:border-b dark:border-gray-600/40`,
        className,
    ]}
    {...rest}
>
    <div
        class="bg-[url('../assets/noise.svg')] opacity-[0.02] absolute inset-0 pointer-events-none z-10"
    >
    </div>
    <slot />
</div>
