@import "tailwindcss";

@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
    --background-noise: url('../assets/noise.svg');
    --color-topbar-bg: var(--topbar-bg);
    --color-photo-bg: var(--photo-bg);
    --color-bg-accent: var(--bg-accent);
    --color-bg: var(--bg);
    --color-mg: var(--mg);
    --color-fg: var(--fg);
    --color-font-primary: var(--col-font-primary);
    --color-font-secondary: var(--col-font-secondary);
    --color-font-green: var(--font-green);
    --color-font-red: var(--font-red);
    --color-font-blue: var(--font-blue);
    --color-accent-pink: var(--accent-pink);
    --color-accent-violet: var(--accent-violet);
    --color-accent-lilac: var(--accent-lilac);
    --color-accent-blue: var(--accent-blue);
    --color-accent-red: var(--accent-red);
    --color-accent-green: var(--accent-green);
    --color-btn-blue: var(--btn-blue);
    --color-btn-green: var(--btn-green);
    --color-btn-red: var(--btn-red);

    --animate-circle-x: circle-x 60s infinite ease-in-out;
    --animate-circle-y: circle-y 60s infinite ease-in-out;
    --animate-circle-nx: circle-nx 60s infinite ease-in-out;
    --animate-circle-ny: circle-ny 60s infinite ease-in-out;
    --color-glass-start: rgba(255, 255, 255, 0.5);
    --color-glass-end: rgba(255, 255, 255, 0.05);

}

:root {
    --topbar-bg: rgba(255, 255, 255, 0.8);
    --photo-bg: #dbb7e6;
    --bg-accent: #ebc1ff;
    --bg: #eae6fb;
    --mg: rgb(241, 230, 249);
    --test: rgb(140, 128, 150);
    --fg: #F6F6F6;
    --col-font-primary: #000000;
    --col-font-secondary: #999999;
    --accent-pink: #ebc1ff;
    --accent-violet: #C57DF9;
    --accent-lilac: #9897FF;
    --accent-blue: #3869D1;
    --accent-red: #FE465B;
    --accent-green: #00AD3B;
    --btn-blue: #DDEFFD;
    --btn-green: #E4F9D8;
    --btn-red: #F9D8D8;
    --font-green: #66CB8D;
    --font-red: #CB6666;
    --font-blue: #529FC9;
    font-family: 'System UI', 'Segoe UI', sans-serif;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
}

.dark {
    --topbar-bg: rgba(0, 0, 0, 0.8);
    --photo-bg: #1e0729;
    --bg-accent: #190523;
    --bg: #0e0c0e;
    --mg: #1A1A1A;
    --fg: #373737;
    --col-font-primary: #ffffff;
    --col-font-secondary: #999999;
    --accent-pink: #ebc1ff;
    --accent-violet: #C57DF9;
    --accent-lilac: #9897FF;
    --accent-blue: #3869D1;
    --accent-red: #FE465B;
    --accent-green: #00AD3B;
    --btn-blue: #DDEFFD;
    --btn-green: #E4F9D8;
    --btn-red: #F9D8D8;
    --font-green: #66CB8D;
    --font-red: #CB6666;
    --font-blue: #529FC9;
}

.social-button {
    @apply p-2 size-10 md:size-14 lg:size-16 xl:size-18 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}

/* Movimiento Horizontal */
@keyframes circle-x {

    0%,
    100% {
        transform: translate(0vw, 0vh) scaleX(1.5);
    }

    25%,
    75% {
        transform: translate(0vw, 0vh) scaleX(1);
    }

    50% {
        transform: translate(85vw, 85vh) scaleX(0.5);
    }
}

/* Movimiento Horizontal */
@keyframes circle-nx {

    0%,
    100% {
        transform: translate(0vw, 0vh) scaleX(1.5);
    }

    25%,
    75% {
        transform: translate(0vw, 0vh) scaleX(1);
    }

    50% {
        transform: translate(-85vw, -85vh) scaleX(0.5);
    }
}

/* Movimiento Vertical con un desfase de tiempo */
@keyframes circle-y {

    0%,
    100% {
        transform: rotate(0deg) scale(0.8);
    }

    50% {
        transform: rotate(360deg) scale(1.2);
    }
}

@keyframes circle-ny {

    0%,
    100% {
        transform: rotate(0deg) scale(0.8);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }
}

/* Clase de utilidad para el desfase (esto crea el círculo) */
.offset-delay {
    animation-delay: -5s;
    /* La mitad del tiempo de la mitad del ciclo */
}

/* Utilidad para el delay (opcional si quieres que los blobs no se muevan al mismo tiempo) */
.animation-delay-2 {
    animation-delay: 4s;
}

.animation-delay-4 {
    animation-delay: 9s;
}

.animation-delay-6 {
    animation-delay: 14s;
}

/* Custom View Transition Durations */
::view-transition-old(root),
::view-transition-new(root),
::view-transition-old(icon-theme-switcher),
::view-transition-new(icon-theme-switcher) {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@utility gradient-border {
    position: relative;
    border-radius: inherit;
    /* Hereda el redondeo de la tarjeta */
    padding: 1.5px;
    /* Este será el GROSOR de tu borde */

    /* El fondo del pseudo-elemento será el gradiente del borde */
    background: linear-gradient(50deg,
            rgba(140, 128, 150, 0.1) 0%,
            rgba(241, 230, 249, 0.05) 50%,
            rgba(241, 230, 249, 0.4) 100%);

    /* Esto "recorta" el fondo para que solo se vea en el borde */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

@layer utilities {
    .perspective-1 {
        perspective: 1px;
    }

    .transform-style-3d {
        transform-style: preserve-3d;
    }

    .translate-z-neg-2 {
        transform: translateZ(-2px) scale(3);
    }
}