@import "tailwindcss";

@plugin "@tailwindcss/typography";


@theme {
    /* Define the functional name */
    --color-bg: var(--bg);
    --color-mg: var(--mg);
    --color-fg: var(--fg);
}

/* Default Light Mode */
:root {
    --bg: #F9F9F9;
    --mg: #ffffff;
    --fg: #F6F6F6;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
}

/* Dark Mode logic */
.dark {
    --bg: #000000;
    --mg: #1A1A1A;
    --fg: #373737;
}

html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    color: #fff;
}

body {
    @apply grid place-content-center p-20;
}

body>div {
    @apply container;
}