---
import Layout from "../layouts/Layout.astro";
import Profile from "../sections/Profile.astro";
import Stack from "../sections/Stack.astro";
import Projects from "../sections/Projects.astro";
import Experience from "../sections/Experience.astro";
import Contact from "../sections/Contact.astro";
export const prerender = true;
---

<Layout title="Home">
	<main
		class="flex flex-col px-6 gap-30
		md:px-18 md:gap-15 md:mb-15 lg:mb-0
		xl:px-18 xl:gap-24 xl:self-center"
	>
		<Profile />
		<Stack />
		<Projects />
		<Experience />
		<Contact />
	</main>
</Layout>
