---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Socials from "../components/Socials.astro";
import Box from "../components/Box.astro";

const technologies = await getCollection("technologies");
console.log(technologies);
console.log(technologies[0].data.projects);

export const prerender = true;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
	<main class="flex-1">
		<section class="mx-0" aria-label="Welcome">
			<div
				class="grid gap-0 md:gap-6 grid-cols-1 md:grid-cols-8 p-0 md:p-6 pt-0 w-full in"
			>
				<div class="col-span-1 md:col-span-3 md:order-2">
					<img
						src="./src/assets/profile/purple.webp"
						alt="Tony"
						class="bg-mg shadow-lg md:rounded-3xl object-cover h-full"
					/>
				</div>
				<Box class="col-span-5 md:order-1">
					<h1 class="text-3xl font-bold">Hola, soy Tonny</h1>
					<h1 class="text-3xl font-bold">
						Ciencias de la Computación e Informática con énfasis en
						Ingeniería de Software
					</h1>
					<p class="text-sm">
						Me gusta crear software, resolver problemas y aprender.
					</p>

					<Socials />
				</Box>
				<Box class="col-span-2 md:order-4">
					<h1 class="text-3xl font-bold">PRUEBA</h1>
					<h1 class="text-3xl font-bold">Estamos probando</h1>
					<p class="text-sm">
						Me gusta crear software, resolver problemas y aprender.
					</p>
				</Box>
				<Box class="col-span-3 md:order-5">
					<h1 class="text-3xl font-bold">PRUEBA</h1>
					<h1 class="text-3xl font-bold">Estamos probando</h1>
					<p class="text-sm">
						Me gusta crear software, resolver problemas y aprender.
					</p>
				</Box>

				<Box class="col-span-3 md:order-6">
					<h1 class="text-3xl font-bold">PRUEBA</h1>
					<h1 class="text-3xl font-bold pb-6">Estamos probando</h1>
					<p class="text-sm">
						Me gusta crear software, resolver problemas y aprender.
					</p>
				</Box>

				<div
					class="bg-transparent
					backdrop-blur-sm
					border
					border-slate-200
					dark:border-neutral-900
					shadow-lg
					rounded-none md:rounded-3xl
					p-10
					flex-3
					flex
					flex-col
					col-span-1 md:col-span-8
					text-font-primary
					min-h-full md:order-6
					gap-4
					md:gap-0
					md:justify-around"
				>
					<h1 class="text-3xl font-bold">Hola, soy Tonny</h1>
					<h1 class="text-3xl font-bold">
						Ciencias de la Computación e Informática con énfasis en
						Ingeniería de Software
					</h1>
					<p class="text-sm">
						Me gusta crear software, resolver problemas y aprender.
					</p>
				</div>
				<div
					class="bg-transparent
					backdrop-blur-sm
					border
					border-slate-200
					dark:border-neutral-900
					shadow-lg
					rounded-none md:rounded-3xl
					p-10
					flex-3
					flex
					flex-col
					col-span-1 md:col-span-8
					text-font-primary
					min-h-full md:order-7
					gap-4
					md:gap-0
					md:justify-around"
				>
					<h1 class="text-3xl font-bold">Hola, soy Tonny</h1>
					<h1 class="text-3xl font-bold">
						Ciencias de la Computación e Informática con énfasis en
						Ingeniería de Software
					</h1>
					<p class="text-sm">
						Me gusta crear software, resolver problemas y aprender.
					</p>
				</div>
				<div
					class="bg-transparent
					backdrop-blur-sm
					border
					border-slate-200
					dark:border-neutral-900
					shadow-lg
					rounded-none md:rounded-3xl
					p-10
					flex-3
					flex
					flex-col
					col-span-1 md:col-span-8
					text-font-primary
					min-h-full md:order-8
					gap-4
					md:gap-0
					md:justify-around"
				>
					<h1 class="text-3xl font-bold">Hola, soy Tonny</h1>
					<h1 class="text-3xl font-bold">
						Ciencias de la Computación e Informática con énfasis en
						Ingeniería de Software
					</h1>
					<p class="text-sm">
						Me gusta crear software, resolver problemas y aprender.
					</p>
				</div>
				<div
					class="bg-transparent
					backdrop-blur-sm
					border
					border-slate-200
					dark:border-neutral-900
					shadow-lg
					rounded-none md:rounded-3xl
					p-10
					flex-3
					flex
					flex-col
					col-span-1 md:col-span-8
					text-font-primary
					min-h-full md:order-9
					gap-4
					md:gap-0
					md:justify-around"
				>
					<h1 class="text-3xl font-bold">Hola, soy Tonny</h1>
					<h1 class="text-3xl font-bold">
						Ciencias de la Computación e Informática con énfasis en
						Ingeniería de Software
					</h1>
					<p class="text-sm">
						Me gusta crear software, resolver problemas y aprender.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
