---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const technologies = await getCollection("technologies");
console.log(technologies);
console.log(technologies[0].data.projects);

export const prerender = true;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
	<main>
		<section aria-label="Welcome">
			<div class="px-4 mx-auto max-w-7xl">
				<div
					class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 p-6"
				>
					<div
						class="bg-mg border border-slate-200 shadow-md rounded-3xl p-6 flex-2"
					>
						<h1>Hola, soy Tony</h1>
						<p>Desarrollador de software</p>
					</div>
					<div
						class="bg-mg border border-slate-200 shadow-md rounded-3xl p-6 flex-2"
					>
						<h1>Hola, soy Tony</h1>
						<p>Desarrollador de software</p>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
