---
/* Background.astro */
---

--- /* Background.astro */ ---

<div
    class="fixed inset-0 -z-10 bg-[url('../assets/bglight.png')] dark:bg-[url('../assets/bgpur.png')] bg-cover opacity-20 dark:opacity-80"
>
</div>
