---
/* Background.astro */
---

--- /* Background.astro */ ---

<div
    class="fixed inset-0 -z-10 overflow bg-[url('../assets/bglight.png')] dark:bg-[url('../assets/bgpur.png')] bg-contain bg-center h-screen w-screen transform-gpu"
>
</div>
