<section class="flex gap-6 justify-start">
    <a
        class="bg-black social-button animate-slide-up-fade animate-delay-100"
        href="https://github.com/TonnyOrtiz"
        target="_blank"
        aria-label="GitHub"
        title="Ir a GitHub de Tonny"
    >
        <svg width="30" height="30">
            <use xlink:href="./src/assets/sprite.svg#github"></use>
        </svg>
    </a>

    <!-- Instagram -->
    <a
        class="social-button animate-slide-up-fade animate-delay-200 bg-linear-to-tr from-yellow-300 via-pink-600 to-purple-600"
        href="https://www.instagram.com/tonny.ort/"
        target="_blank"
        aria-label="Instagram"
        title="Ir a Instagram de Tonny"
    >
        <svg width="30" height="30">
            <use xlink:href="./src/assets/sprite.svg#instagram"></use>
        </svg>
    </a>

    <!-- X (Twitter) -->
    <a
        class="bg-black social-button animate-slide-up-fade animate-delay-400"
        href="https://x.com/TonnyOS8"
        target="_blank"
        aria-label="X"
        title="Ir a X de Tonny"
    >
        <svg width="30" height="30">
            <use xlink:href="./src/assets/sprite.svg#x"></use>
        </svg>
    </a>

    <!-- LinkedIn -->
    <a
        class="bg-white social-button animate-slide-up-fade animate-delay-500"
        href="https://www.linkedin.com/in/tonny-ortiz/"
        target="_blank"
        aria-label="LinkedIn"
        title="Ir a LinkedIn de Tonny"
    >
        <svg width="30" height="30">
            <use xlink:href="./src/assets/sprite.svg#linkedin"></use>
        </svg>
    </a>
</section>
