---
interface Props {
    class?: string;
    // Puedes añadir más props aquí
    [key: string]: any; // Esto permite recibir cualquier otro atributo (id, data-*, etc)
}
const { class: className = "", ...rest } = Astro.props;
---

<section class="flex flex-row md:flex-row gap-5 justify-center
md:gap-6">
    <a
        class="bg-transparent social-button
        transition-transform text-font-primary"
        href="https://github.com/TonnyOrtiz"
        target="_blank"
        aria-label="GitHub"
        title="Ir a GitHub de Tonny"
    >
        <svg width="35" height="35">
            <use xlink:href="/sprite.svg#github"></use>
        </svg>
    </a>

    <!-- LinkedIn -->
    <a
        class="bg-transparent social-button
        transition-transform"
        href="https://www.linkedin.com/in/tonny-ortiz/"
        target="_blank"
        aria-label="LinkedIn"
        title="Ir a LinkedIn de Tonny"
    >
        <svg width="35" height="35">
            <use xlink:href="/sprite.svg#linkedin"></use>
        </svg>
    </a>
</section>
