---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<h2
    class="text-2xl md:text-3xl lg:text-4xl tracking-wide text-font-primary font-medium py-4 lg:py-8 px-2 flex items-center gap-2
        w-fit lg:timeline-view lg:animate-blurred-fade-in lg:animate-range-[entry_50%_contain_20%]"
>
    <div class="absolute inset-0 bg-bg/10 blur-xl -z-10"></div>
    {title}
</h2>
