---
import SectTitle from "./SectTitle.astro";
import { cn } from "../../lib/utils";
const { class: className, ...rest } = Astro.props;

const { title } = Astro.props;
---

<section
    id={title.toLowerCase()}
    aria-label={title}
    class={cn(
        "max-w-352 mx-auto w-full flex flex-col justify-center",
        "pt-11 lg:min-h-screen",
        className,
    )}
    {...rest}
>
    <SectTitle title={title} />
    <slot />

    <div class="lg:h-26 lg:short:h-0"></div>
</section>
