---
import FullBox from "../components/container/FullBox.astro";
---

<footer
    class="lg:timeline-view lg:animate-blurred-fade-in lg:animate-range-[entry_35%_contain_0%] w-full text-center
		lg:absolute bottom-0 mt-10"
>
    <FullBox
        class="flex flex-col lg:flex-row justify-center items-center gap-4 py-6"
    >
        <p class="text-md text-font-secondary tracking-wide">
            © 2026 Tonny Ortiz
        </p>
        <p class="hidden lg:block text-md text-font-secondary tracking-wide">
            -
        </p>
        <p class="text-md text-font-secondary tracking-wide">
            Built with Astro & Tailwind.
        </p>
    </FullBox>
</footer>
