---
import "../styles/global.css";
import TopBar from "../components/TopBar.astro";
import { ClientRouter } from "astro:transitions";
import Background from "../components/Background.astro";
import ThemePopup from "../components/common/ThemePopup.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter />
		<script is:inline>
			const theme = (() => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();

			if (theme === "light") {
				document.documentElement.classList.remove("dark");
			} else {
				document.documentElement.classList.add("dark");
			}
		</script>
	</head>
	<body class="bg-bg min-h-dvh flex flex-col items-center">
		<Background />
		<TopBar />
		<ThemePopup />
		<slot />
	</body>
</html>
